.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#map {
  z-index: 2;
  height: calc(100vh - 70px);
  margin-top: 70px;
}


.openbtn{
  display:none;
}

/*==== responsive toggle menu css ====*/

@media (max-width:991px) {
  .openbtn{
    display:block;
  }
  .navbar .navbar-wrapper {
    display: inline-flex;
    align-items: center;
    position: relative;
    left: 52px;
  }
}

.set-sidebar {
  height: auto;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.set-sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 1095;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #FFFFFF;
  color: gray;
  padding: 10px 15px;
  border: none;
}

.set-nav-responsive{
  display: block;
}

.set-logo{
  padding: 15px 0px;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;
  text-align: center;
}

.openbtn:hover {
  font-size: 20px;
  cursor: pointer;
  background-color: #FFFFFF;
  color: gray;
  padding: 10px 15px;
  border: none;
}

.set-material-icon{
  font-size: 24px !important;
  float: left;
  margin-right: 15px !important;
  line-height: 30px !important;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}

.set-nav-responsive[data-color="danger"] li.active>a {
  background-color: #f44336;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.set-nav-links{
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3C4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
}

.set-nav-links:hover{
  background-color: rgba(200, 200, 200, 0.2);
  color: #3C4858;
  box-shadow: none;
}

.set-material-icon , p{
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
}

#main {
  position:absolute;
  transition: margin-left .5s;
  padding: 16px;
  display: inline-block;
  z-index: 99999;
}

.set-sidebar {padding-top: 15px;z-index: 99999999;height: 100%;}
.set-sidebar a {font-size: 18px; color:#555;}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .set-sidebar {padding-top: 15px;z-index: 99999999}
  .set-sidebar a {font-size: 18px; color:#555;}
}
/*==== responsive toggle menu css ====*/